@charset "UTF-8";

/*
    HTML5 CSS RESETS
 */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

main, header {
    display: block;
}

.btn-link {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/*
    GENERAL STYLES
*/

html {
    font-family: 'Montserrat', sans-serif;
}

.img-rounded {
    box-shadow: 0 0 100px 0 rgba(128, 128, 128, 0.1);
}

/*
    HEADER
*/

#header-img {
    max-width: 50%;
    width: 200px;
}

header h1 {
    margin-bottom: 0;
}

/*
    BUTTON LIST
*/

.btn-link {
    transition: box-shadow ease-in-out 500ms;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    outline: 0;
    box-shadow: inset 0 0 0 0.25rem #e03423;
    transition: box-shadow ease-out 250ms;
}


/*
    MEDIA QUERIES
*/

@media only screen and (max-width: 1280px) {
    #site-container {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {
    body {
        border-width: 1.5rem;
        padding: 2rem 1rem;
    }

    #site-container {
        width: 100%;
    }

    #header-img {
        max-width: 100%;
        width: 150px;
    }
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 75%;
    }
}

@media only screen and (max-height: 480px) {
    body {
        padding: 1rem;
    }

    #header-img {
        max-width: 100%;
        width: 150px;
    }
}
